* {
    font-family: 'Ubuntu', sans-serif;
}

.title{
    font-family: 'Ubuntu';
    color: #178CA4;
    background-color: #F9F7F0;
}

h1{
    font-family: 'Ubuntu';
    font-weight: 1000;
    font-size: 50px;
}

.date{
    font-weight: 800;
    font-size: 30px;
}

.description h2{
    font-size: 30px;
    font-weight: 800;
    color: #18B7BE;
}

.highlight{
    font-size: large;
    font-weight: bold;
}

.dark-text{
    color: #178CA4;
}

.light-text{
    color: #18B7BE;
}

.europe-text{
    color: #4477AA;
}

.north-america-text{
    color: #66CCEE;
}

.south-america-text{
    color: #228833;
}

.asia-text{
    color: #EE6677;
}

.oceania-text{
    color: #CCBB44;
}

.africa-text{
    color: #AA3377;
}

.cite{
    font-style: italic;
}

.footer{
    font-weight: bold;
    font-size: 14px;
    color: #178CA4;
}